<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="RegisterId" value="01" />
    <add key="PrinterName" value="EPSON TM-U220 Receipt" />
    <add key="StoreName" value="TOKO SINAR MAKMUR" />
    <add key="StoreBrand" value="Semoga Berbahagia" />
    <add key="StoreFooter" value="Sadhu Sadhu Sadhu" />
  </appSettings>
</configuration>
